<div class="archive">
  <ul class="archive-list">
    <% @posts.each do |post| %>
      <li class="archive-item">
        <article class="card">
          <%= link_to app_post_path(post.id) do%>
            <%= image_tag post.image.url(), :class =>"card-image"%>
            <div class="card-bottom">
              <h1 class="card-title"><%= post.title%></h1>
              <time class="card-date" >
                <%= post.created_at.strftime("%d %b, %Y") %>
              </time>
            </div>
          <% end %>
        </article>
      </li>
    <% end %>
  </ul>
</div>
