<footer class="l-footer ">
  <div class="l-footer-button">
    <a class="page-top js-scroll" href="#js-body">
      <span class="page-top-arrow"></span>
    </a>
  </div>
  <div class="l-footer-copyright">
    <small class="copyright">&copy;copyright</small>
  </div>
</footer>
