<div class="l-header-hamburger">
  <a href="#" class="hamburger js-hamburger " >
    <span class="hamburger-item"></span>
    <span class="hamburger-item"></span>
    <span class="hamburger-item"></span>
  </a>
</div>
