<header class="l-header  js-header">
  <div class="l-header-top u-clear">

    <div class="l-header-logo">
      <div class="logo">
        <a class="logo " href="<%= locals[:route] %>">
          <img src="/assets/logo.png" width="253" height="28" alt="BLOG"/>
        </a>
      </div>
    </div>
    <%= render 'hamburger' %>
  </div>
</header>
<!--end header-->
<nav class="nav js-nav">
  <ul class="nav-list">
    <li class="nav-item">
      <a href="<%= root_path %>" class="nav-link">TOP</a>
    </li>
    <li class="nav-item">
      <a href="https://www.facebook.com/facebook/" class="nav-link">Facebook</a>
    </li>
    <li class="nav-item">
      <a href="https://twitter.com/twitter" class="nav-link">Twitter</a>
    </li>
  </ul>
</nav>
