<%= render './top' %>

<div class="l-wrap js-wrap">
  <!--start header-->
  <%= render 'header', :locals => {:route => ''} %>
  <!--end header-->
  <!--start l-contents-->
  <div class="l-container u-clear">
    <!--start l-main-->
    <main class="l-main js-main">
      <div class="l-main-block"></div>
      <div class="page-number">
        Page <span> <%= @posts.current_page %>/<%= @posts.total_pages %></span>
      </div>
      <%= render 'archive_list' %>
      <%= will_paginate @posts, renderer: custom_rederer, inner_window: 1, outer_window: 0%>
    </main>
    <!--end l-main-->
  </div>
</div>
<!--end l-contents-->

<!--footer ここから-->
<%= render 'footer' %>
<!--footer ここまで-->
