<%= render './top' %>
<div class="l-wrap js-wrap">
  <!--start header-->
  <%= render 'header', :locals => {:route => root_path} %>
  <!--start l-contents-->
  <div class="l-container u-clear">
  <!--start l-main-->
    <main class="l-main js-main">
      <div class="l-main-block"></div>
      <%= render 'archive_list' %>
      <a href="<%= app_archive_path %>" class="archive-button">
          <div class="button">
            <p class="button-text">More</p>
          </div>
      </a>
    </main>
  <!--end l-main-->
  </div>
  <!--end l-contents-->
  <!--footer ここから-->
  <%= render 'footer' %>
    <!--footer ここまで-->
</div>
