<%= render './top' %>

<div class="l-wrap js-wrap">
  <!--start header-->
  <%= render 'header', :locals => {:route => ''} %>
  <!--end header-->
  <!--start l-main-->
  <main class="l-main js-main">
    <div class="l-main-block"></div>
    <div class="single">
      <%= image_tag @post.image.url(), :class =>"single-image"%>
      <div class="l-container u-clear">
        <h1 class="single-title"><%= @post.title %></h1>
        <time class="single-date" datetime="2016-9-16"><%= @post.created_at.strftime("%d %b, %Y") %></time>
        <p class="single-desc"><%= @post.content %></p>
        <div class="single-button">
          <div class="button">
            <%= link_to root_path do%>
              <p class="button-text">Top</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!--end l-main-->

  <!--footer ここから-->
  <%= render 'footer' %>
  <!--footer ここまで-->
</di  v>
