<%= render './top' %>

<div class="l-wrap js-wrap">
  <!--start header-->
  <%= render 'header' %>
  <!--end header-->
  <!--start l-contents-->
  <div class="l-container u-clear">
    <!--start l-main-->
    <main class="l-main js-main">
      <div class="l-main-block"></div>
      <form action="/users/sign_in" class="form" method="post" accept-charset="UTF-8">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
        <label for="user_id" class="form-title">USER ID</label>
        <input type="text" id="user_id" class="input input-text" name="user[user_id]">
        <label for="password" class="form-title">PASSWORD</label>
        <input type="text" id="password" class="input input-text" name="user[password]">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <label for="submit" class="form-button">
          <div class="button">
            <p class="button-text">Login</p>
          </div>
        </label>
        <input type="submit" id="submit" class="input input-submit">
      </form>
    </main>
    <!--end l-main-->
  </div>
  <!--end l-contents-->
  <!--footer ここから-->
  <%= render 'footer' %>
  <!--footer ここまで-->
</div>
