<ul class="archive archive-admin">
  <% @posts.each do |post| %>
    <li class="archive-item">
      <%= link_to admin_path(post.id), :class=> "post-article" do %>
        <time class="post-article-date"><%= post.created_at.strftime("%d %b, %Y")%></time>
        <h1 class="post-article-title"><%= post.title%></h1>
      <% end %>
    </li>
  <% end %>
</ul>
