<%= render './top' %>

<div class="l-wrap js-wrap">
  <!--start header-->
  <%= render 'header' %>
  <!--end header-->
  <!--start l-contents-->
  <div class="l-container u-clear">
    <!--start l-main-->
    <main class="l-main js-main">
      <div class="l-main-block"></div>
      <form name="user_form" action="/admin/create_or_update/<%= @user%>/<%= @post && @post.id  %>"
        onsubmit="return validateForm()" class="form" method="post" enctype="multipart/form-data">
        <label for="image" class="form-title">EYE CATCH IMAGE
          <div class="form-file u-clear">
              <span class="form-file-button">UPLOAD</span>
              <input type="file" id="image" class="input input-image" name="image">
              <div id="filename"><%= @post && @post.image.original_filename %></div>
          </div>
        </label>

        <label for="title" class="form-title">TITLE</label>
        <div class="form-body">
            <input type="text" id="title" class="input input-text" name="title"
              value="<%= @post && @post.title %>">
        </div>
        <label for="contents" class="form-title">CONTENTS</label>
        <div class="form-textarea">
            <textarea name="inquiry" id="inquiry" cols="30" rows="10" class="input input-contents"><%= @post && @post.content %></textarea>
        </div>

        <p id="error"></p >

        <label for="submit" class="form-button">
        <div class="button">
          <p class="button-text">Submit</p>
        </div>
        </label>
        <input type="submit" id="submit" class="input input-submit">
        <a href="<%= admin_posts_path %>" class="form-button">
            <div class="button">
              <p class="button-text">Back</p>
            </div>
        </a>
      </form>
    </main>
    <!--end l-main-->
  </div>
  <!--end l-contents-->
  <!--footer ここから-->
  <%= render 'footer' %>
  <!--footer ここまで-->
</div>
