<%= render './top' %>

<div class="l-wrap js-wrap">
  <!--start header-->
  <%= render 'header' %>
  <!--end header-->
  <!--start l-contents-->
  <div class="l-container u-clear">
    <!--start l-main-->
    <main class="l-main js-main">
      <div class="l-main-block"></div>
      <a href="<%= admin_path %>" class="l-main-button">
        <div class="button">
          <p class="button-text">New Article</p>
        </div>
      </a>
      <%= render 'admin_list' %>
    </main>
    <!--end l-main-->
  </div>

  <!--end l-contents-->
  <!--footer ここから-->
  <%= render 'footer' %>
  <!--footer ここまで-->
</div>
